<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Evento | Free Onepage Event Template | ShapeBootstrap</title>
    <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/font-awesome.min.css') }}" rel="stylesheet">
	<link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet">
	<link href="{{ asset('bundles/app/css/animate.css') }}" rel="stylesheet">	
	<link href="{{ asset('bundles/app/css/responsive.css') }}" rel="stylesheet">


    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/app/images/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/app/images/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/app/images/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/app/images/ico/apple-touch-icon-57-precomposed.png') }}">
</head><!--/head-->

<body>
	<header id="header" role="banner">		
		<div class="main-nav">
			<div class="container">
				<div class="header-top">
					<div class="pull-right social-icons">
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-google-plus"></i></a>
						<a href="#"><i class="fa fa-youtube"></i></a>
					</div>
				</div>     
		        <div class="row">	        		
		            <div class="navbar-header">
		                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		                    <span class="sr-only">Toggle navigation</span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                    <span class="icon-bar"></span>
		                </button>
		                <a class="navbar-brand" href="index.html">
		                	<img class="img-responsive" src="{{ asset('bundles/app/images/logo.png') }}" alt="logo">
		                </a>                    
		            </div>
		            <div class="collapse navbar-collapse">
		                <ul class="nav navbar-nav navbar-right">                 
		                    <li class="scroll active"><a href="#home">Home</a></li>
		                    <li class="scroll"><a href="#post">Blog</a></li>
		                    <li class="scroll"><a href="#about">About</a></li>
		                    <li><a class="no-scroll" href="#" target="_blank">PURCHASE TICKETS</a></li>
		                    <li class="scroll"><a href="#contact">Contact</a></li>       
		                </ul>
		            </div>
		        </div>
	        </div>
        </div>                    
    </header>
    <!--/#header--> 

    <section id="home">	
		<div id="main-slider" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
				<div class="item active">
					<img class="img-responsive" src="{{ asset('bundles/app/images/slider/bg4.jpg') }}" alt="slider">
				</div>
			</div>
		</div>    	
    </section>
	<!--/#home-->

	
	<section id="post">
		<div id="twitter-feed" class="carousel slide" data-interval="false">
			<div class="row">
				<div class="post col-md-12">
					<h1>Blog post 1</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tempor sem nisl, vitae dapibus
						velit pretium eu. Sed a lorem id urna venenatis volutpat. Integer ac vestibulum mi. In erat nunc,
						blandit at augue nec, dignissim dapibus felis. Maecenas turpis elit, efficitur in tincidunt et,
						lobortis porta mauris. Praesent cursus pellentesque imperdiet. Aenean tincidunt consequat porttitor.
						Duis id tellus vitae nulla imperdiet varius eu eu enim.

						Morbi in viverra elit. Sed consequat nisi vitae diam convallis ultricies. Ut at dolor iaculis,
						sodales augue ut, euismod odio. Proin eget lorem volutpat, maximus urna volutpat, tristique nisl.
						Vestibulum ac risus placerat, mattis mi in, dignissim leo. Fusce eget pulvinar lectus. Vestibulum
						ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus ut odio et
						nibh fringilla varius id id mauris. Mauris sed ultrices quam. Ut varius euismod sapien, vitae
						bibendum diam. Sed tincidunt quam metus. Quisque non dapibus libero. Maecenas at bibendum lectus,
						vel viverra libero. Nullam faucibus semper ipsum eget luctus. Integer lorem quam, sodales tempus
						ultricies sit amet, dignissim quis enim. Sed vel mauris dictum diam aliquam facilisis non vel ante.
					</p>
				</div>
				<div class="item">
					<img src="{{ asset('https://pbs.twimg.com/profile_images/443336758403424256/U5bzXI5l.jpeg') }}" alt="">
					<p>Creator of the PHP framework Symfony</p>
					<a href="https://twitter.com/fabpot">Twitter account</a>
				</div>
			</div>
		</div>		
	</section><!--/#twitter-feed-->

	<section id="contact">
		<div id="map">
			<div id="gmap-wrap">
	 			<div id="gmap"> 				
	 			</div>	 			
	    	</div>
		</div><!--/#map-->
		<div class="contact-section">
			<div class="ear-piece">
				<img class="img-responsive" src="{{ asset('bundles/app/images/ear-piece.png') }}" alt="">
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-sm-offset-4">
						<div class="contact-text">
							<h3>Contact</h3>
							<address>
								E-mail: contact@estiam.com<br>
								Phone: +33 (0) 9 72 50 24 68<br>
							</address>
						</div>
						<div class="contact-address">
							<h3>Contact</h3>
							<address>
								115 rue Notre-Dame des Champs
								75006 Paris<br>
								France
							</address>
						</div>
					</div>
					<div class="col-sm-5">
						<div id="contact-section">
							<h3>Send a message</h3>
					    	<div class="status alert alert-success" style="display: none"></div>
					    	<form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php">
					            <div class="form-group">
					                <input type="text" name="name" class="form-control" required="required" placeholder="Name">
					            </div>
					            <div class="form-group">
					                <input type="email" name="email" class="form-control" required="required" placeholder="Email ID">
					            </div>
					            <div class="form-group">
					                <textarea name="message" id="message" required="required" class="form-control" rows="4" placeholder="Enter your message"></textarea>
					            </div>                        
					            <div class="form-group">
					                <button type="submit" class="btn btn-primary pull-right">Send</button>
					            </div>
					        </form>	       
					    </div>
					</div>
				</div>
			</div>
		</div>		
	</section>
    <!--/#contact-->

	<footer id="footer">
		<div class="container">
			<div class="text-center">
				<p>
					Copyright  &copy;2016<a target="_blank" href="http://http://www.estiam.com/"> Estiam</a>.
				</p>
			</div>
		</div>
	</footer>
    <!--/#footer-->
  
     <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  	<script type="text/javascript" src="{{ asset('bundles/app/js/gmaps.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/app/js/smoothscroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.parallax.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/coundown-timer.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.scrollTo.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery.nav.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/main.js') }}"></script>  
</body>
</html>